services:
  - type: web
    name: belal-dartfrog-api
    rootDir: packages/backend/build
    env: standard
    buildCommand: dart pub get
    startCommand: dart run bin/server.dart
    plan: free
    envVars:
      - key: PORT
        value: 8080
      - key: DB_HOST
        sync: false
      - key: DB_PORT
        value: 5432
      - key: DB_NAME
        sync: false
      - key: DB_USERNAME
        sync: false
      - key: DB_PASSWORD
        sync: false
